# dependencies
node_modules

# test
/coverage
/test

# production
/src

# development
.editorconfig
.idea
.vscode
.travis.yml
jest.config.js
tsconfig.json
tslint.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
